<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estudiante <%= Nombre %></title>
</head>
<body>
    <h1>Nombre: <%= Nombre %></h1>
    <h1>Edad: <%= Edad %></h1>
    <h1>NSS: <%= NSS %></h1>
    <h1>Tipo de Sangre: <%= tipoSangre %></h1>
    <!-- Aqui visualizamos toda la información, nombre, edad, nss y tipo de sangre respectivamente -->
</body>
</html>